html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-size: 20px;
  min-width: 320px;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
}

.m-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1300px) {
  .m-open {
    overflow: hidden;
    position: fixed;
  }
  .m-open .header {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
  }
  .m-open .header .menu {
    display: flex;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  outline: none;
  border: none;
}
select:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 143%;
}

h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 143%;
}

h4 {
  font-size: 1.4em;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
}

input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.none {
  display: none !important;
}

.page {
  position: relative;
  overflow: hidden;
}

.lozad--disabled {
  opacity: 0;
  transition: 0.4s;
}

.loaded {
  opacity: 1;
}

.header {
  width: 100%;
  padding: 25px 0 0 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px 45px;
  border-radius: 20px;
  background: linear-gradient(91.56deg, #141B46 0%, #041887 100%);
}
.header__wrapper-logo {
  display: flex;
}
.header__wrapper-logo img {
  width: 244px;
  height: auto;
}
.header__wrapper-info {
  display: flex;
}
.header__wrapper-info h1 {
  color: #eaeaea;
}
.header__wrapper-info h1 span {
  color: white;
}

.documentation {
  padding: 200px 0 0 0;
}
.documentation h2, .documentation h3, .documentation h4 {
  margin-bottom: 24px;
}
.documentation__item {
  display: flex;
  flex-direction: column;
}
.documentation a {
  display: flex;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  color: #0E29BB;
}
.documentation a:hover img {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px 0 rgba(14, 41, 187, 0.5);
}
.documentation a:active img {
  transform: scale(0.99);
}
.documentation img {
  width: fit-content;
  height: auto;
  margin-bottom: 24px;
  border-radius: 15px;
  transition: 0.2s ease;
}
.documentation p {
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
  max-width: 800px;
  margin-bottom: 24px;
}
.documentation ul {
  display: flex;
  flex-direction: column;
}
.documentation ul li {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
}
.documentation ul li:not(:last-child) {
  margin-bottom: 12px;
}
.documentation ul li::before {
  content: "";
  min-width: 10px;
  height: 10px;
  margin: 6px 10px 0;
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #0E29BB;
}